.flash {
  border: none;
  border-radius: 1rem;
  /* color: whitesmoke;
  background: #ffc3a7; */
  color: #553c7b;
  background-color: #ffffff;
  border: 3px solid #553c7b;
  margin: 2rem;
  padding: 2rem;
  text-align: center;
}