.SongSelect .SongSelect-search {
  display: flex;
  align-items: flex-start;
}

.SongSelect .input-group {
  position: relative;
}

.SongSelect .input-group:before {
  position: absolute;
  top: 1.4rem;
  left: 1.3rem;
  width: 2rem;
  height: 2rem;
  content: '';
  background: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgba(255,255,255, 1)' d='M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z'/%3E%3C/svg%3E");
}

.SongSelect .rbt-input[type="text"] {
  border: none;
  color: var(--text-color);
  padding: 1.3rem 1.3rem 1.3rem 4.2rem;
  transition: all var(--transition-default);
}

.SongSelect .rbt-input:focus,
.SongSelect .rbt-input:active {
  background: rgba(255, 255, 255, .1);
}

.SongSelect .rbt-input::-webkit-input-placeholder {
  color: var(--text-color);
}

.SongSelect .rbt-input:-ms-input-placeholder {
  color: var(--text-color);
}

.SongSelect .rbt-input::placeholder {
  color: var(--text-color);
}

.SongSelect .rbt-menu {
  overflow-y: scroll !important;
  top: 49px !important;
  width: 111rem !important;
  height: 26.5rem;
  max-height: 26.5rem !important;
  background: var(--bg-black);
  color: var(--text-color);
  padding: 0;
  border: 0;
  border-radius: 0;
  transform: none !important;
}

@media (max-width: 1199px) {
  .SongSelect .rbt-menu {
    width: 93rem !important;
  }
}

@media (max-width: 991px) {
  .SongSelect .rbt-menu {
    width: 69rem !important;
  }
}

@media (max-width: 767px) {
  .SongSelect .rbt-menu {
    width: 51rem !important;
  }
}

@media (max-width: 575px) {
  .SongSelect .rbt-menu {
    width: calc(100vw - 30px) !important;
  }
}

.SongSelect .rbt-menu .dropdown-item {
  font-size: var(--font-size-text-small);
  padding: 1.3rem;
  color: var(--text-color);
}

.SongSelect .rbt-menu .dropdown-item:hover {
  background: var(--accent-color);
  transition: all var(--transition-default);
}

.SongSelect .SongSelect-search #qsong {
  flex: 0 0 12rem;
  padding: 1.3rem 1.5rem;
}