/* --- Variables --- */
:root {
  /* Colors */
  --bg-black: #13141E;
  --bg-dark: #16182C;
  --bg-main: #1F2240;
  --bg-light: #fff;
  --text-color: #fff;
  --accent-color: #553C7B;

  /* Transition */
  --transition-default: .35s ease-in-out;

  /* Typography */
  --font-size-h1: 2.8rem;
  --font-size-h2: 2.2rem;
  --font-size-table-header: 1.6rem;
  --font-size-table-text: 1.4rem;
  --font-size-text: 1.6rem;
  --font-size-text-small: 1.4rem;
  --font-line-height: 1.2;
  --font-weight-light: 300;
  --font-weight-reg: 400;
  --font-weight-bold: 700;
}