<!DOCTYPE html>
<html>

<head>
  <style>
    h1 {
      background-color: #191414;
      border: none;
      color: #1DB954;
      padding: 16px 32px;
      text-decoration: none;
      margin: 4px 2px;
      cursor: pointer;
      font-size: 500px;
      font-family: courier, sans-serif;
    }

    p {
      color: #ffffff;
      font-weight: bold;
      font-family: sans-serif;
      font-size: 20px;
    }
  </style>
</head>

<body style='background-color:#191414; text-align:center;'>

  <h1>{{ room_code }}</h1>
  <p>*visit earbud.club and enter the room code*</p>
</body>

</html>